@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}
ul{
    color: white;
    font-family: 'Reem Kufi Ink';
}

#bola{
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    width: 110px;
    height: 110px;
    border-radius: 75px;
    margin-left: 3rem;
}
header img{
    width: 100px;
    height: 100px;
    display: flex;
}
header{
    width: 100%;
    border: 5px solid white;
    display: flex;
    border-radius: 73rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    font-style: normal;
    font-size: 32px;
    padding: 1rem;
}
a{
    color: white;
}
ul{
    display: flex;
}
a:hover{
    cursor: pointer;
    text-shadow: 9px 9px 9px;
    transition: all 1s;
    color: rgb(95, 61, 127);
}
.pt1{
    box-sizing: border-box;

    position: absolute;
    width: 48rem;
    height: 40rem;
    margin-top: 5rem;
    margin-left: 3rem;
    
    border: 5px solid #FFFFFF;
    border-radius: 4rem;
    animation-name: pt1;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}
@keyframes pt1{
    from {top: 0px;}
    to{top: 100px;}
}
#bolafoda1{
    box-sizing: border-box;

    position: absolute;
    left: 6.56%;
    right: 87.87%;
    top: 2.21%;
    bottom: 91.81%;
    border-radius: 75px ;

    background: #FF0000; 
}
#bolafoda2{
    box-sizing: border-box;

    position: absolute;
    left: 15.71%;
    right: 78.73%;
    top: 2.21%;
    bottom: 91.81%;
    border-radius: 75px;

    background: #FFE600;
}
#bolafoda3{
    box-sizing: border-box;

    position: absolute;
    left: 24.85%;
    right: 69.58%;
    top: 2.21%;
    bottom: 91.81%;

    background: #00FF19;
    border-radius: 75px;
}
#linha{
    position: absolute;
    top: 10.62%;
    bottom: 89.38%;
    width: 763px;

    border: 4px solid #FFFFFF;
}
.caixadetexto1{
    box-sizing: border-box;

    position: absolute;
    left: 2rem;
    right: 17.3%;
    top: 14.6%;
    bottom: 71.24%;
    width: 607.68px;
    height: 90.62px;
    color:#0084FE;

    border: 0.3rem solid #FFFFFF;
    border-radius: 2rem;
    font-family: 'Reem Kufi Ink';
    align:left;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.caixadetexto2{
    box-sizing: border-box;

    position: absolute;
    left: 2rem;
    right: 17.3%;
    top: 12rem;
    bottom: 40.29%;
    color:#0084FE;

    border: 0.3rem solid #FFFFFF;
    border-radius: 2rem;
    font-family: 'Reem Kufi Ink';
    align:left;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}
.pt2{
    box-sizing: border-box;
    position: absolute;;
    left: 73rem;
    top: 54.12%;
    bottom: 0%;
    width: 512px;
    height: 136px;
    border: 5px solid #FFFFFF;
    border-radius: 2rem;
    color: white;
    font-family: 'Reem Kufi Ink';
    display: flex;
    padding: 23px;
    align-items: center;
    animation-name: pt2;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}
@keyframes pt2{
    from{top:0px;}
    to{top:54.12%;}
}
.pt3{
    box-sizing: border-box;
    position: absolute;;
    left: 73rem;
    top: 74.12rem;
    bottom: 0%;
    width: 32rem;
    height: 9.4rem;
    border: 5px solid #FFFFFF;
    border-radius: 2rem;
    color: white;
    font-family: 'Reem Kufi Ink';
    display: flex;
    padding: 23px;
    align-items: center;
    animation-name: pt3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes pt3{
    from{top:0px;}
    to{top:74.12%;}
}
#bolafoda4{
    box-sizing: border-box;

    position: absolute;
    width: 17px;
    height: 15px;
    left: 17px;
    right: 93.51%;
    top: 13px;
    bottom: 80.14%;
    border-radius: 100px ;

    background: #FF0000; 
}
#bolafoda5{
    box-sizing: border-box;

    position: absolute;
    width: 17px;
    height: 15px;
    left: 46px;
    right: 93.51%;
    top: 13px;
    bottom: 80.14%;
    border-radius: 100px ;

    background: #FFE603; 
}
#bolafoda6{
        box-sizing: border-box;
    
        position: absolute;
        width: 17px;
        height: 15px;
        left: 75px;
        right: 93.51%;
        top: 13px;
        bottom: 80.14%;
        border-radius: 100px ;
    
        background: #00FF38;
}
#linha1{
    position: absolute;
    width: 31.5rem;
    left: 0%;
    right: 0.95%;
    top: 37px;
    bottom: 73.76%;
    
    border: 4px solid #FFFFFF;
}
#texto{
    position: absolute;
    left: 4.77%;
    right: 87.98%;
    top: 3.6rem;
    bottom: 57.45%;
    padding-top: 0.5rem;
    
    font-family: 'Reem Kufi Ink';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 0%;
    color:#00FF38;
    animation: animate 0.5s linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
}
.linha{
    width: 100%;
    position: absolute;
    border: 5px solid white;
    top: 56rem;
}
#texto1{
    position:absolute;
    left: 2.77rem;
    top: 57rem;
    color:white;
    font-family: 'Reem Kufi Ink';
    font-size: 32px;
}
#lua{
    width: 23rem;
    height: 23rem;
    margin-left: 77rem;
    animation: lua 8s linear infinite;
    animation-name: lua;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes lua{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
    from{top:0px;}
    to{top:74.12%;}
}